.skills{
    overflow: hidden;
    width: 100vw;
    max-width: 70rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

.skillTitle{
    font-size: 3rem;
    font-style: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}

.skillDesc{
    font-weight: 300;
    font-size: 1rem;
    max-width: 50rem;
    padding: 0 2rem;
    margin-right: 10rem;
}


.text{
    color: rgb(184, 44, 160);
}

.emoji{
    position: absolute;
    top: 4rem;
    right: -5.9rem;
    z-index: -1;
    object-fit: cover;
    height: 90vh;
    border-radius: 0 250px 0 250px;
        
    }


